h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $font-sans;
}

body {
  font-family: $font-sans;
  font-size: $base-font-size;
}

a {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 1px dotted $neutral;
    box-shadow: none;

    main & {
      @include outline;

      outline: none;
    }
  }
}

abbr[title] {
  text-decoration: none;
  border-bottom: 0;
}

// Typography
.text-container {
  @include text-container;
}

.visually-hidden {
  @include visually-hidden-text;
}

// Lists
ul {
  list-style-type: disc;
}
